<!-- ###############################
admin homepage, James, Robert Posts
############################## -->
<form method="POST" action="/feed">
	<input type="text" name="topic">
	<textarea type="textarea" rows="4" cols="95" name="rob"></textarea>
	<textarea type="textarea" rows="4" cols="95" name="james"></textarea>
	<input type="submit" value="Submit">
</form>
<h5><a href="/database">Database</a></h5>
<h5><a href="/logout">Log Out</a></h5>
<!-- 
######################################

####################################### -->

<!-- in get edit>>>
make same table but put in embeded ruby. -->