<!-- ###############################
admin homepage, James, Robert Posts
############################## -->
<form method="POST" action="/feed">
	<input type="test" name="topic">
		<input id="sumit_0" type="submit" value="Submit">
</form>

<form method="POST" action="/feed">
	<textarea type="textarea" rows="4" cols="95" name="rob"></textarea>
		<input id="submit_1" type="submit" value="Submit">
</form>

<form method="POST" action="/feed">
	<textarea type="textarea" rows="4" cols="95" name="james"></textarea>
		<input id="submit_2" type="submit" value="Submit">
</form>

<!-- 
######################################

####################################### -->