<div id="Daily_Topic">
	<% @daily_topic.each do |post| %>
		<h1><%= post.topic %></h1>
			<% end %>
</div>

<div id="Author_Articles">
	<legend>
		<div id="robert_article">
			<% @rob_post.each do |post|	%>
				<p><%= post.authorR %></p>
			<% end %>
		</div>
			<div id="james_article">
				<% @james_post.each do |post|	%>
					<p><%= post.authorJ %></p>
				<% end %>
			</div>
	</legend>
</div>










