<div id="Daily_Topic">
	<h1><%= @post.topic %></h1>
</div>

<div id="Author_Articles">
	<legend>
		<div id="robert_article">
			<p><%= @post.rob %></p>
		</div>
		<div id="james_article">
			<p><%= @post.james %></p>
		</div>
	</legend>
</div>














