
<legend>
	<div id="Daily_Topic">
		<h1><%= @post.topic %></h1>
	</div>
	<div id="rob">
		<p><%= @post.rob %></p>
	</div>
	<div id="james">
		<p><%= @post.james %></p>
	</div>
</legend>














