<!DOCTYPE html>
<html>
<head>
	<title>Micro blog</title>
	<link rel="stylesheet" type="text/css" href="CSS/index.css">

</head>
<body>

<%= yield %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="JS/index.js"></script>
</body>
</html>