<fieldset>
	<legend>login</legend>
	<form method="POST" action="/login">
        	<label for="username">User Name</label>
        	<input name="username" /><br />
        	<label for="pass">Password</label>
        	<input type="password" name="password" /><br />
        	<input type="submit" value="Login" />
	</form>
	<form method="POST" action="/signupform">
		<input id="signup" type="submit" value="Sign-Up" />
	</form>
</fieldset>
