<form method="POST" action="/login">
	<fieldset>
		<legend>login</legend>
		<label for="user.fname">First Name</label>
        	<input name="userfname" /><br />
        	<label for="user.lname">Last Name</label>
        	<input name="userlname" /><br />
        	<label for="user">User Name</label>
        	<input name="user" /><br />
        	<label for="pass">Password</label>
        	<input type="password" name="password" /><br />
        	<input type="submit" value="Login" />
	</fieldset>