<form method="POST" action="/login">
	<fieldset>
		<legend>login</legend>
        	<label for="username">User Name</label>
        	<input name="username" /><br />
        	<label for="pass">Password</label>
        	<input type="password" name="password" /><br />
        	<input type="submit" value="Login" />
	</fieldset>
</form>