







#Daily_Topic h1{
	height: 60px;
	width: 100px;
	border: solid black 3px;
	display: inline-block;
}
#rob p{
	height: 100px;
	width: 200px;
	border: solid black 3px;
	display: inline-block;
}
#james p{
	height: 100px;
	width: 200px;
	border: solid black 3px;
	display: inline-block;
}

#comment_space {
	max-height: 100%;
	min-height: 100px;
	width: 200px;
	border: solid black 3px;
	display: inline-block;
 }
 .comment{
 	text-align: left;
 	border: solid blue 2px;
 }


/*value="<%= Post.topic %>"
value="<%= Post.james %>"
value="<%= Post.rob %>">*/

#fieldsetProfile {
	display:none;
}
#signup{
	float:right;
}

